.s4 .wrapper .icon.icon3 .top {
  top: -10%;
  left: 5%;
  width: 66%;
  height: 66%;
  transform: rotate(-30deg);
  border-color: transparent transparent #222 transparent;
}
.s4 .wrapper .icon.icon3 .top .visor {
  top: 44%;
  left: 3%;
  width: 88%;
  height: 88%;
  border-radius: 50%;
}
.s4 .wrapper .icon.icon3 .top .visor:after {
  top: 10%;
  left: 10%;
  width: 70%;
  height: 70%;
  border: 0.1vw solid #222;
  border-radius: 50%;
  border-color: #222 transparent transparent transparent;
  transform: rotate(-50deg);
}
.s4 .wrapper .icon.icon3 .top .hood {
  top: 37%;
  left: 50%;
  width: 68%;
  height: 70%;
  border-color: transparent transparent transparent #222;
  transform-origin: left bottom;
  animation: icon3hood 5s linear 0s alternate infinite;
    
  background: #f9f9fb;
}
.s4 .wrapper .icon.icon3 .top .hood:after {
  top: 0;
  left: -82%;
  width: 150%;
  padding-top: 150%;
  border: 0.1vw solid #222;
  border-radius: 50%;
}
.s4 .wrapper .icon.icon3 .middle {
  top: 42%;
  left: 47.5%;
  width: 15%;
  height: 15%;
  border-radius: 50%;
  background: #f9f9fb;
  overflow: visible;
  transform: rotate(-30deg);
  animation: icon3middle 15s linear 0s infinite;
}
.s4 .wrapper .icon.icon3 .middle:before {
  top: 50%;
  left: -40%;
  width: 40%;
  height: 1%;
  border: 0.1vw solid #222;
  border-color: #222 transparent transparent transparent;
}
.s4 .wrapper .icon.icon3 .bottom {
  top: 52%;
  left: 30%;
  width: 66%;
  height: 25%;
  border-color: #222 transparent transparent transparent;
  transform: rotate(-30deg);
}
.s4 .wrapper .icon.icon3 .bottom .neck {
  top: -100%;
  left: 0;
  width: 95%;
  height: 150%;
  transform: rotate(12deg);
  border-color: transparent transparent #222 transparent;
}
.s4 .wrapper .icon.icon3 .bottom .neck:after {
  top: -37%;
  left: 0;
  width: 95%;
  padding-top: 100%;
  border-radius: 50%;
  border: 0.1vw solid #222;
}
.s4 .wrapper .icon.icon3 .bottom .line {
  top: 60%;
  left: 0;
  width: 85%;
  height: 1%;
  transform: rotate(12.5deg);
  border-color: transparent transparent #222 transparent;
}

@keyframes icon3hood {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
@keyframes icon3middle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.s4 .wrapper .icon .planet {
  border-radius: 50%;
  background: transparent;
}
.s4 .wrapper .icon.icon10 .orbit, .wrapper .icon.icon10 .planet {
  border-radius: 50%;
}
.s4 .wrapper .icon.icon10 .orbit {
  border-color: #222 #222 #222 transparent;
  overflow: visible;
}
.s4 .wrapper .icon.icon10 .orbit:before {
  top: -7.5%;
  left: 30%;
  width: 15%;
  height: 15%;
  border: 0.1vw solid #222;
  border-radius: 50%;
  background: #fff;
}
.s4 .wrapper .icon.icon10 .orbit.orbit1 {
  top: 17.5%;
  left: 17.5%;
  width: 65%;
  height: 65%;
  transform: rotate(150deg);
  animation: icon10orbit 5s ease 0s infinite;
}
.s4 .wrapper .icon.icon10 .orbit.orbit2 {
  top: 30%;
  left: 30%;
  width: 40%;
  height: 40%;
  transform: rotate(50deg);
  animation: icon10orbit 5s ease 0s infinite reverse;
}
.s4 .wrapper .icon.icon10 .planet {
  top: 42.5%;
  left: 42.5%;
  width: 15%;
  height: 15%;
  animation: icon10planet 5s ease 0s infinite alternate;
}

@keyframes icon10orbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes icon10planet {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}

.s4 .wrapper .icon.icon14 .top {
  top: 12.5%;
  left: 10%;
  width: 80%;
  height: 10%;
  border-color: transparent;
  overflow: visible;
}
.s4 .wrapper .icon.icon14 .top .line {
  top: 49%;
  height: 2%;
  width: 36%;
  border-color: #222 transparent transparent transparent;
  overflow: visible;
}
.s4 .wrapper .icon.icon14 .top .line:before {
  margin-top: -25%;
  padding: 18%;
  border: 0.1vw solid #222;
  border-radius: 50%;
}
.s4 .wrapper .icon.icon14 .top .line.left {
  left: 15%;
  transform-origin: 100% 50%;
  animation: icon14lineleft 5s linear 0s infinite alternate;
}
.s4 .wrapper .icon.icon14 .top .line.left:before {
  margin-left: -38%;
}
.s4 .wrapper .icon.icon14 .top .line.right {
  right: 15%;
  transform-origin: 0% 50%;
  animation: icon14lineright 5s linear 0s infinite alternate;
}
.s4 .wrapper .icon.icon14 .top .line.right:before {
  margin-left: 100%;
}
.s4 .wrapper .icon.icon14 .top .square {
  top: -0.1vw;
  left: calc(45% - 0.1vw);
  padding: 6%;
  background: #fff;
  z-index: 1;
}
.s4 .wrapper .icon.icon14 .planet {
  top: 17.5%;
  left: 17.5%;
  width: 65%;
  height: 65%;
  border-color: #222 #222 transparent #222;
  transform: rotate(15deg);
  overflow: visible;
  animation: icon14planet 5s ease 0s infinite alternate;
}
.s4 .wrapper .icon.icon14 .planet:after {
  top: 75%;
  width: 15%;
  padding-top: 15%;
  border: 0.1vw solid #222;
  transform: rotate(-15deg);
  background: #fff;
}
.s4 .wrapper .icon.icon14 .ring {
  top: 37.5%;
  left: 10%;
  width: 80%;
  height: 25%;
  border-radius: 50%;
  border-color: transparent #222 #222 #222;
  transform: rotate(17deg);
  animation: icon14ring 5s ease 0s infinite alternate;
}
.s4 .wrapper .icon.icon14 .moon {
  top: 90%;
  left: 10%;
  width: 12%;
  height: 12%;
  animation: icon14moon 5s ease-in-out 0s infinite alternate;
}
.s4 .wrapper .icon.icon14 .pen {
  top: 22%;
  left: 30%;
  width: 40%;
  height: 65%;
  border: 0;
  overflow: visible;
}
.s4 .wrapper .icon.icon14 .pen .head.left {
  top: 0;
  left: 45.5%;
  height: 65%;
  width: 1%;
  border-color: transparent transparent transparent #222;
  transform-origin: top left;
  transform: rotate(20deg);
  overflow: visible;
}
.s4 .wrapper .icon.icon14 .pen .head.left:before {
  top: 100%;
  left: -0.15vw;
  height: 35%;
  width: 1%;
  border: 0.1vw solid #222;
  border-color: transparent transparent transparent #222;
  transform-origin: top center;
  transform: rotate(-60deg);
}
.s4 .wrapper .icon.icon14 .pen .head.right {
  top: 1%;
  left: 60%;
  height: 65%;
  width: 1%;
  border-color: transparent transparent transparent #222;
  transform-origin: top center;
  transform: rotate(-20deg);
  overflow: visible;
}
.s4 .wrapper .icon.icon14 .pen .head.right:before {
  top: 100%;
  right: 0vw;
  height: 35%;
  width: 1%;
  border: 0.1vw solid #222;
  border-color: transparent transparent transparent #222;
  transform-origin: top center;
  transform: rotate(60deg);
}
.s4 .wrapper .icon.icon14 .pen .line {
  top: 0;
  left: 52%;
  width: 1%;
  height: 45%;
  border-color: transparent transparent transparent #222;
  overflow: visible;
}
.s4 .wrapper .icon.icon14 .pen .line:after {
  top: 100%;
  left: -0.2vw;
  width: 0.4vw;
  padding-top: 0.2vw;
  border: 0.1vw solid #222;
  border-radius: 50%;
}
.s4 .wrapper .icon.icon14 .pen .bottom {
  top: 80%;
  left: 18%;
  width: 64%;
  height: 15%;
}

.wrapper .icon .moon,
.wrapper .icon .planet {
  border-radius: 50%;
  background: #fff;
}
@keyframes icon14lineleft {
  0% { transform: rotate(-5deg); }
  100% { transform: rotate(5deg); }
}
@keyframes icon14lineright {
  0% { transform: rotate(-5deg); }
  100% { transform: rotate(5deg); }
}
@keyframes icon14planet {
  0% {transform: rotate(10deg); }
  100% {transform: rotate(20deg);}
}
@keyframes icon14ring {
  0% {transform: rotate(30deg);}
  100% { transform: rotate(10deg);}
}
@keyframes icon14moon {
  0% {left: 5%;}
  100% {left: 95%;}
}




















